Django
djangorestframework>=3.12
django-cors-headers
pymongo>=3.11
transformers>=4.6
boto3>=1.17
python-decouple>=3.4
Pillow>=8.2
psycopg2>=2.9
python-dotenv
openai


annotated-types               
anyio                         
asgiref                       
boto3                         
botocore                      
certifi                       
chardet                       
distro                        
dj-rest-auth                  
Django                        
django-allauth                
django-cors-headers           
djangorestframework           
djangorestframework-simplejwt 
djongo                        
dnspython                     
filelock                      
fsspec                       
h11                           
httpcore                      
httpx                         
huggingface-hub               
idna
Jinja2                        
jmespath                      
MarkupSafe                    
mpmath                        
networkx
numpy                         
openai                        
packaging
pillow                        
pip                           
psycopg2-binary               
pydantic                      
pydantic_core                 
PyJWT                         
pymongo                       
python-dateutil               
python-decouple
python-dotenv                 
pytz
PyYAML                        
regex                         
requests                      
s3transfer                    
safetensors                   
setuptools                    
six                           
sniffio                       
sqlparse                      
sympy                         
tokenizers                    
torch                         
tqdm                          
transformers                  
typing_extensions             
urllib3                       
wheel                         